<a href="/user/folder/<%= parentFolder.id %>">Back</a>
<div>
  <%= file.name %> <%= file.uploadedAt %> <%= file.size.value %> <%=
  file.size.unit %> <% console.log(file.id); %>
  <a href="/user/<%= file.id %>/download">Download</a>
  <a href="/user/<%= file.id %>/rename">Rename</a>
  <form method="POST" action="/user/file/delete">
    <input type="hidden" name="file_id" value="<%= file.id %>" />
    <input type="hidden" name="folder_id" value="<%= parentFolder.id %>" />
    <button type="submit">Delete</button>
  </form>
  <!-- <a href="/user/delete">Delete</a> -->
</div>
