<div class="container mx-auto mt-[15%] flex justify-center">
  <div class="grid grid-cols-6">
    <div class="col-start-2 mx-2 justify-self-end text-xl font-semibold">
      Name
    </div>
    <div class="col-span-2 mx-2 self-center"><%= file.name %></div>
    <div class="col-start-2 mx-2 justify-self-end text-xl font-semibold">
      Uploaded
    </div>
    <div class="col-span-2 mx-2 self-center"><%= file.uploadedAt %></div>
    <div class="col-start-2 mx-2 justify-self-end text-xl font-semibold">
      Size
    </div>
    <div class="mx-2 self-center">
      <%= file.size.value %> <%= file.size.unit %>
    </div>
    <a
      class="col-start-4 row-start-4 items-center self-center justify-self-center rounded-3xl border border-emerald-400 bg-emerald-300 px-4 py-1"
      href="/user/<%= file.id %>/download"
      >Download</a
    >
    <a
      class="col-start-5 row-start-4 self-center justify-self-center rounded-3xl border border-slate-400 bg-slate-300 px-4 py-1"
      href="/user/<%= file.id %>/rename"
      >Rename</a
    >
    <form
      class="col-start-6 row-start-4 ml-4 self-center"
      method="POST"
      action="/user/file/delete">
      <input type="hidden" name="file_id" value="<%= file.id %>" />
      <input type="hidden" name="folder_id" value="<%= parentFolder.id %>" />
      <button class="cursor-pointer" type="submit">
        <svg
          class="mt-1"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M5 6.77273H9.2M19 6.77273H14.8M9.2 6.77273V5.5C9.2 4.94772 9.64772 4.5 10.2 4.5H13.8C14.3523 4.5 14.8 4.94772 14.8 5.5V6.77273M9.2 6.77273H14.8M6.4 8.59091V15.8636C6.4 17.5778 6.4 18.4349 6.94673 18.9675C7.49347 19.5 8.37342 19.5 10.1333 19.5H13.8667C15.6266 19.5 16.5065 19.5 17.0533 18.9675C17.6 18.4349 17.6 17.5778 17.6 15.8636V8.59091M9.2 10.4091V15.8636M12 10.4091V15.8636M14.8 10.4091V15.8636"
              stroke="#fb2c36"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g>
        </svg>
      </button>
    </form>
  </div>
</div>
