<% folders.forEach(folder => { %>
<div
  class="m-2 flex max-h-54 min-h-46 max-w-48 min-w-24 flex-col justify-around rounded-md border-2 border-emerald-400 bg-stone-100 p-2">
  <a class="flex flex-grow-1 flex-col" href="/user/folder/<%= folder.id %>">
    <div class="mx-8 my-4 flex items-center justify-center">
      <svg
        aria-label="<%= folder.name %>"
        class="max-w-18"
        viewBox="0 0 48 48"
        xmlns="http://www.w3.org/2000/svg"
        fill="#d5cff1"
        stroke="#d5cff1">
        <title><%= folder.name %></title>
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <defs>
            <style>
              .a {
                fill: none;
                stroke: #34d399;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
            </style>
          </defs>
          <path
            class="a"
            d="M41.6783,13.0436H24.77c-1.9628-.1072-5.9311-4.2372-8.1881-4.2372H6.6806V8.8046A2.1762,2.1762,0,0,0,4.5,10.9763v7.3063h39V14.8652A1.8217,1.8217,0,0,0,41.6783,13.0436Z"></path>
          <path
            class="a"
            d="M43.5,18.2826H4.5V37.0165a2.1762,2.1762,0,0,0,2.1735,2.1789H41.3194A2.1762,2.1762,0,0,0,43.5,37.0237V18.2826Z"></path>
        </g>
      </svg>
    </div>
    <div
      class="mx-2 mb-6 max-h-[25%] justify-center truncate px-2 text-center"
      title="<%= folder.name %>">
      <%= folder.name %>
    </div>
  </a>
  <div class="mb-2 flex justify-evenly">
    <a
      class="self-center rounded-3xl border-2 border-emerald-400 bg-emerald-300 px-4 py-1"
      href="/user/folder/<%= folder.id %>/rename"
      title="Rename"
      >Rename</a
    >
    <a
      class="min-w-4 px-2 py-2"
      href="/user/folder/<%= folder.id %>/delete"
      title="Delete">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M5 6.77273H9.2M19 6.77273H14.8M9.2 6.77273V5.5C9.2 4.94772 9.64772 4.5 10.2 4.5H13.8C14.3523 4.5 14.8 4.94772 14.8 5.5V6.77273M9.2 6.77273H14.8M6.4 8.59091V15.8636C6.4 17.5778 6.4 18.4349 6.94673 18.9675C7.49347 19.5 8.37342 19.5 10.1333 19.5H13.8667C15.6266 19.5 16.5065 19.5 17.0533 18.9675C17.6 18.4349 17.6 17.5778 17.6 15.8636V8.59091M9.2 10.4091V15.8636M12 10.4091V15.8636M14.8 10.4091V15.8636"
            stroke="#fb2c36"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g>
      </svg>
    </a>
  </div>
</div>
<% }) %>
