<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/navbar") %>
    <div class="flex justify-between">
      <a class="mx-8" href="/user/folder/<%= parent.id %>">&#12296;- Back</a>
    </div>
    <div class="container mx-auto mt-[15%] flex justify-center">
      <form
        class="grid grid-cols-2"
        method="POST"
        action="/user/folder/<%= folder.id %>/rename">
        <label
          class="mx-2 justify-self-end text-xl font-semibold"
          for="folderName"
          >New Foldername</label
        >
        <input
          class="mx-2 h-7 border-b-[1px] pt-4 pb-2 outline-0 duration-300 focus:border-blue-400 focus:outline-none"
          type="text"
          name="folderName"
          id="folderName" />
        <button
          class="col-start-2 mt-4 mb-2 cursor-pointer justify-self-center rounded-3xl border border-black px-2 py-1"
          type="submit">
          Rename!
        </button>
        <input type="hidden" name="folder_id" value="<%= folder.id %>" />
        <input type="hidden" name="parent_id" value="<%= parent.id %>" />
      </form>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
