<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar") %>
    <div class="flex justify-between">
      <% if (parentFolder.root == false) { %>
      <a class="mx-8" href="/user/back">&#12296;- Back</a>
      <% } else { %>
      <div></div>
      <% } %>
      <div class="flex">
        <%- include("./partials/upload") %>
        <a class="mx-4 text-blue-600" href="/user/newfolder">New folder</a>
      </div>
    </div>
    <div class="container mx-auto flex justify-evenly">
      <!-- prettier-ignore -->
      <% if (folders) { %> 
        <%- include("./partials/folders.ejs") %>
        <% if (files) { %>
          <%- include("./partials/files.ejs") %>
        <% } %>
      <% } else { %>
        <%- include("./partials/details.ejs") %>
      <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
