<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar") %>
    <div class="flex justify-between">
      <% if (parentFolder.root == false) { %>
      <a class="mx-8" href="/user/back">&#12296;- Back</a>
      <% } else { %>
      <div></div>
      <% } %> <% if (folders) { %>
      <div class="flex">
        <%- include("./partials/upload") %>
        <a class="mx-4 text-blue-600" href="/user/newfolder">New folder</a>
      </div>
      <% } %>
    </div>
    <div>
      <!-- prettier-ignore -->
      <% if (folders) { %>
      <div
        class="mx-auto grid max-w-[96rem] grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6">
        <%- include("./partials/folders.ejs") %> <% if (files) { %> <%-
        include("./partials/files.ejs") %> <% } %>
      </div>
      <% } else { %> <%- include("./partials/details.ejs") %> <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
